{% extends 'base.html.twig' %}

{% block header_img %}<img class="slide-image" src="{{ asset('img/todolist_content.jpg') }}" alt="todo list">
{% endblock %}

{% block body %}
<div class="row">
    <ul>
        <a href="{{ path('task_create') }}" class="btn btn-info float-right">Créer une tâche</a>
    </ul>
</div>
<div class="row">
    {% for task in tasks %}
    <div class="col-sm-6 col-lg-4 col-md-4">
        <div class="card shadow my-3">

            <div class="card-header">
                <a href="{{ path('task_edit', {'slug': task.slug}) }}">{{ task.title }}</a>
                <h4 class="float-right">
                    {% if task.isDone %}
                    <i class="fas fa-check"></i>
                    {% else %}
                    <i class="fas fa-times"></i>
                    {% endif %}
                </h4>
            </div>


            <div class="card-body px-1 py-2">
                <p>{{ task.content }}</p>
            </div>


            <div class="card-footer">


                <div class="btn-toolbar  " role="toolbar" aria-label="Toolbar with button groups">
                    <form action="{{ path('task_toggle', {'id': task.id}) }}">
                        {% if not task.isDone %}
                        <button class="btn btn-warning btn-sm float-left toggle ">
                            Marquer comme faite</button>
                        {% else %}
                        <button class="btn btn-success btn-sm float-left toggle">Marquer non terminée</button>
                        {% endif %}
                    </form>
                    {% if is_granted('delete', task) != false %}
                    <form action="{{ path('task_delete', {'id': task.id}) }}">
                        <button class="btn btn-danger btn-sm  delete">Supprimer</button>
                    </form>
                    {% endif %}
                </div>
            </div>

        </div>
    </div>

    {% else %}
    <div class="alert alert-warning" role="alert">
        Il n'y a pas encore de tâche enregistrée.
        <a href="{{ path('task_create') }}" class="btn btn-warning float-right">Créer une tâche</a>
    </div>
    {% endfor %}
</div>
{% endblock %}